.button {
  font-family: @font-bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
}
