.contacts {
  list-style: none;
}

.contacts__title {
  font-weight: 700;
  font-size: @font-size-base + 4px;
}

.contacts__info {
  font-weight: 300;
  font-size: @font-size-base + 10px;
  text-decoration: none;
  color: @color-pink;
}
