.form-tuning {
  background-color: @color-grey;
}

.form-tuning__list {
  display: flex;
  justify-content: space-between;
  width: 200px;
  list-style: none;
}

.form-tuning__btn {
  font-family: @font-open-sans;
  font-size: @font-size-base + 4px;
  line-height: 18px;
  font-weight: 700;
}

.form-tuning__btn--post {
  color: @color-pink;
}

.form-tuning__btn--cancel {
  color: @color-blue-dark;
  opacity: 0.1;
}
