.form-feat {
  background-color: @color-grey;
}

.form-feat__title {
  width: 220px;
  margin: 0 auto;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @color-pink;
}

.form-feat__label {
  font-size: @font-size-base + 4px;
  line-height: 30px;
}
