.gallery__item {
  background-color: @grey;
}

.gallery__title {
  font-weight: 700;
  font-size: @font-size-base - 2px;
  line-height: 24px;
  text-transform: uppercase;
  color: @white;
}

.gallery__author {
  line-height: 24px;
}

.gallery__time {
  font-weight: 300;
  font-size: @font-size-base - 2px;
  line-height: 24px;
  text-transform: uppercase;
}

.gallery__content {
  line-height: 24px;
}

.gallery__likes {
  font-size: @font-size-base - 2px;
  line-height: 24px;
  text-transform: uppercase;
  color: @pink;
}
