.gallery__item {
  background-color: @grey;
}

.gallery-title {
  font-family: @font-bold;
  font-weight: 700;
  font-size: 12;
  line-height: 24;
  text-transform: uppercase;
  color: @white;
}

.gallery__author {
  font-family: @font-bold;
  font-weight: 700;
  font-size: 14;
  line-height: 24;
  color: @blue-dark;
}

.gallery__time {
  font-family: @font-light;
  font-weight: 300;
  font-size: 12;
  line-height: 24;
  text-transform: uppercase;
  color: @blue-dark;
}

.gallery__content {
  font-family: @font-regular;
  font-weight: 400;
  font-size: 14;
  line-height: 24;
  color: @blue-dark;
}

.gallery__likes {
  font-family: @font-regular;
  font-weight: 400;
  font-size: 12;
  line-height: 24;
  text-transform: uppercase;
  color: @pink;
}
