.page-header__index {
  display: none;
  font-weight: 300;
  font-size: @font-size-base + 26px;
  color: @white;
}

.page-header__photo {
  font-weight: 300;
  font-size: @font-size-base + 10px;
  color: @white;
}

.page-header__form {
  font-weight: 300;
  font-size: @font-size-base + 10px;
  color: @white;
}
