.site-list {
  list-style: none;
}
.site-list__link {
  font-family: @font-bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: @white;
  text-decoration: none;
  text-transform: uppercase;
}
