@font-light: "Open Sans Light", sans-serif;
@font-regular: "Open Sans Regular", sans-serif;
@font-bold: "Open Sans Bold",sans-serif;

@white: #ffffff;
@black: #000000;
@blue-dark: #283645;
@blue-dark1: #1d2631;
@grey: #f2f2f2;
@pink: #d22856;
@green: #2aab6d;
